@CHARSET "UTF-8";

html, body, div, h1, h5, form, label, fieldset,input,p {
    padding: 0; 
    margin: 0; 
}

fieldset,img{
    border: 0;
}

/* ------------GENERAL------------------------------*/



img{
    border: none;
}

body{
    font-size: 1em;
}

.round{
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
}

p{
    margin-bottom: 1.25em;
    color: #9498a1;
}

.page-full-width{
    padding: 0 1.875em;
}

.full-width-input{
    width: 95%;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

h1,h5{
    font-weight: normal;
    margin-bottom: 0.625em;
}


/* ------------HEADER------------------------------*/
#header{
    padding: 1.25em 0;
}

#login-intro{
    background: transparent url("#{resource['images:login-icon.png']}") no-repeat left center;
    padding: 0.312em 0 0.312em 3.125em;
}

#login-intro h1{
    text-transform: uppercase;
    margin: 0.312em 0 0 0;
}

#login-intro h5{
    color: #9498a1;
}

#company-branding{
    height: 45px;
}

#content{
    background: #f8f9fa url("#{resource['images:artwork-pattern.png']}") repeat-x left bottom;
    border: 1px solid #eeefef;
    padding: 1.875em 0;
}

#login-form{
    width: 18.75em;
    margin: 0 auto;
}

.cf:before,
.cf:after{
    content: "";
    display: table;
}

.cf:after{
    clear: both;
}

.cf{
    zoom: 1;
}

/* ---------------- FORM ---------------------*/
form label{
    display: block;
    text-transform: uppercase;
    color: #2a2e36;
    margin: 0 0 0.3125em 0;
}

form input[type="text"],input[type="password"]{
    border: 1px solid #d9dbdd;
    padding: 1em 0.625em;
    outline: none;
}

form input[type="text"]:hover,input[type="password"]:hover
form input[type="text"]:focus,input[type="password"]:focus{
    border: 1px solid #bbbdbe;
}

form input[type="submit"]{
    border: none;
    cursor: pointer;
    padding: 0.833em;

    background-position: right center;
    padding-right: 3em;
    background-repeat: no-repeat;
    font-weight: bold;
    text-transform: uppercase;
}



/* ---------------- FORM ---------------------*/
.button{
    padding: 0.833em;
    display: inline-block;
    text-decoration: none;
    background-repeat: no-repeat;
}

.blue{
    background-color: #2069b4;
    color: white;
}

.blue:hover{
    background-color: #5081b3;
    color: white;
}

.image-right{
    background-position: right center;
    padding-right: 3em;
}

.ic-right-arrow{
    background-image: url("#{resource['images:ic_right_arrow.png']}");
}

form p{
    margin-top: 0.833em;
    display: block;
}
/* ------------HEADER------------------------------*/
.information-box{
    background: #e5f5f9 url("#{resource['images:information.png']}") no-repeat 0.833em center;
    border: 1px solid #cae0e5;
    color: #5a9bab;
    padding: 0.833em 0.833em 0.833em 3em;
    margin-bottom: 0.833em;
}

/* ------------TYPOGRAPHY------------------------------*/
p,form input,.information-box,.button,table{
    font-size: 0.75em;
}

form p input[type="text"],form p input[type="password"]{
    font-size: 1em;
}

body,form{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.125em;
}

h1{
    font-size: 1.125em;
}

h5{
    font-size: 0.625em;
}


/* ---------------- FOOTER ---------------------*/
#footer{
    text-align: center;
    padding: 1.875em 0;
    color: #9498a1;
    font-size: 0.75em;
}