<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
    <Appenders>
        <JDBC name="databaseAppender" tableName="application_log">
            <DataSource jndiName="java:/VedraxLogDS" />
            <Column name="event_date" isEventTimestamp="true" />
            <Column name="log_level" pattern="%level" isUnicode="false" />
            <Column name="logger" pattern="%logger" isUnicode="false" />
            <Column name="message" pattern="%message" isUnicode="false"/>
            <Column name="log_exception" pattern="%ex{full}" isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="databaseAppender"/>
        </Root>
    </Loggers>
</Configuration>
